<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>SportVis</title>
<link rel="stylesheet" rev="stylesheet" href="css/white-box.css" type="text/css" media="all" />
<link rel="stylesheet" rev="stylesheet" href="css/print.css" type="text/css" media="print" />
	<META name="verify-v1" content="6F+mT1qp+ssVn8h36+bC5BSzG2EihEKilIIT4uYGxkU=" />
</head>
<body>
    <div id='menu'>
    <h1 id='top'>SportVis</h1>
    {% include menu.html %}
    </div>

    <div id='content'>
      {{ content }}
    </div>
    {% include footer.html %}
</body>
</html>

